################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

mobi
.vs
/TeamHR/TeamHR-API/obj/Debug/net6.0
/TeamHR/TeamHR-API/obj
/TeamHR/TeamhrTest/obj
/TeamHR/TeamhrUnitTests/bin/Debug/net6.0
/TeamHR/TeamhrUnitTests/obj
/TeamHR/TestTeamhr.UnitTests/obj/Debug
TeamHR/TeamHR-API/bin/Debug/net6.0/teamhr-api.dll
TeamHR/TeamHR-API/bin/Debug/net6.0/teamhr-api.pdb
.gitignore
